/* TUDU Stylesheet */
html, body{
    width: 100%;
    background-repeat: no-repeat;
    background-color: #ffffff;
    margin: 0;
}
#topBar{
    width: 100%;
    opacity:100%;
}
#imageBar{
    width:100%;
    height: 30%;
}
#searchBar{
    width: 100%;
}
core-scroll-header-panel {
    font-family: heltvetica;

}
core-toolbar{
    opacity: 100%;
    width: 100%;
}
#buttons{
    margin-top: 0%;
    margin-left: 10%;
    margin-right: 10%;
}
#logInButton{
    opacity:100%;
    margin-left: 100px;
    font-family: Helvetica;
    font-size: x-small;
}

#signUpButton{
    opacity:100%;
    margin-right: 0%;
    margin-left: 120px;
    font-family: Helvetica;
    font-size: x-small;
}
#mainContainer{
    background-color: white;
}

#venueListing{
    color:white;
    margin-top: 50%;
    height:100px;
    width: 100px;
}
.content{
    color:white;
    width: 100%;
    /*height: 5000px;*/
}

.profileBox{
    width:25%;
    height: 300px;
    border: solid;
    border-color: black;
    border-width: 5px;
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
}
